body{
  margin: 0;
  font-family:  Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    background-color: #ffffff;
     
}

.conteiner{
  margin: 0 auto;
  width: 960px;
  padding: 20px;
  background-color: #DCDCDC;
}

.grid-container{
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
}

.grid-card{
  display: grid;
    grid-template-columns: auto auto auto ;
    column-gap: 20px;
    padding: 10px;
    background-color: #CCC;
}

.grid-item-1{
  grid-column: 1 / span 2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid-item-2{
  display: grid;
  grid-column: 1;
  gap: 10px;
  padding: 10px;
}



.grid-item-5{
  display: grid;
  grid-column: 1;
  width: 150px;
  gap: 10px;
  padding: 10px;
}

.button{
  text-decoration: none;
  background-color: #DCDCDC;
  color: #444;
  padding: 15px;
  border: 5px solid #999b9c;
  border-radius: 15px;
  font-weight: bold;
  
}

.link{
  margin-top: 20px;
  text-align: left;

}

#t1{
  font-family: Georgia, serif;
  
  text-align: center
}  

#t2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#t3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#t4 {
font-family: Georgia, 'Times New Roman', Times, serif;

}

#t5 {
font-family: Georgia, 'Times New Roman', Times, serif;
}

#t6 {
font-family: Georgia, 'Times New Roman', Times, serif;
}

#t7 {
font-family: Georgia, 'Times New Roman', Times, serif;

}

#t8 {
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}

#t9 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  

.clear{
  clear: both;
}


